<h1>{{segment.name }}</h1>
<div class="manage">
  <button mat-stroked-button (click)="openEditDialog()">Edit</button>
  <button mat-stroked-button color="warn" (click)="openRemoveDialog()">Remove</button>
</div>
<hr>
<span>id: {{segment.id}}</span><hr>
<span>status: {{segment.status}}</span><hr>
<span>description: {{segment.description}}</span><hr>
