<h1 mat-dialog-title>{{data.name}}: remove</h1>
<p>Are you really want to remove segment "<b>{{data.name}}</b>"?</p>
<div class="manage">
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
  <button mat-stroked-button color="warn" (click)="remove()">Remove</button>
</div>
