<h1 mat-dialog-title>{{data.segment ? data.segment.name + ': edit': 'New segment'}}</h1>
<form [formGroup]="segmentForm">
  <mat-form-field>
    <input matInput type="text" formControlName="name" placeholder="Name">
  </mat-form-field>
  <!--<hr>-->
  <mat-form-field>
    <input matInput type="text" formControlName="status" placeholder="Status">
  </mat-form-field>
  <!--<hr>-->
  <mat-form-field>
    <input matInput type="text" formControlName="description" placeholder="Description">
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>

