<div class="mat-elevation-z8">
  <div>
    <h1>Devices table
      <button (click)="openCreateEditDialog()">Add device</button>
    </h1>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let device">{{device.deviceType}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let device">{{device.description}}</td>
    </ng-container>

    <ng-container matColumnDef="segment">
      <th mat-header-cell *matHeaderCellDef>Segment</th>
      <td mat-cell *matCellDef="let device">{{device.segment}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let device">
        <button mat-stroked-button
                (click)="$event.stopPropagation(); openCreateEditDialog()"
        >Edit</button>
        <button mat-stroked-button
                color="warn"
                (click)="$event.stopPropagation(); openRemoveDialog(device)"
        >Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let device; let row; columns: displayedColumns"
        [routerLink]="device.id"
    ></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


