<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="'navigation'"
               [mode]="'side'"
               [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-accordion>

        <mat-expansion-panel hideToggle *ngFor="let button of buttons">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="mdi mdi-reproduction"></span>{{button.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let sub of button.sub">
            {{sub.name}}
          </mat-list-item>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a [routerLink]="'campaing/segments'">segments</a>
      <a [routerLink]="'campaing/devices'">devices</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
