.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel {
  box-shadow: none;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 0 16px 0 !important;
}

.mat-list-item {
  padding: 8px 24px 8px 24px !important;
}
